

//Colors
$white: #ffffff;

//Gradient colors
$gradient-redpink: linear-gradient(92.69deg, #FF2C18 -9.73%, #DF19F4 109.95%);

//Font size
$font-size-base: 16px;
$font-size-l: 32px;

//Font size heading
$h1-font-size: 32px;

//Shadow box
$shadow-box-primary: 0px 4px 15px rgba(0, 0, 0, 0.25);


