@import 'variables';
@import 'typography';

#settings-app {
  .getting-started {
    text-align: center;
    margin: 168px 117px 0px 97px;

    .paragraph-start {
      margin-bottom: 40px;
    }
  }
}
