# Vendor
vendor

# OPERATIONAL SYSTEM FILES
ehthumbs.db
Thumbs.db

# LOG FILES
error_log
*.debug_log
*.log
*.dat

# PACKAGED FILES
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# FILES STARTING WITH . OR ~ EXCETP .gitignore
.*
~*
!.gitignore

# MODULES AND CACHE
node_modules/
.sass-cache/
package-lock.json
# OTHER
git-to-svn/

#Files in assets

assets/js/product.js
assets/js/settings.js
assets/css