@import '../../styles/variables';

.haste-btn {
    border: none;
    border-radius: 3px;
    padding: $btn-padding-y $btn-padding-x;
    font-family: 'Segoe UI', sans-serif;
    cursor: pointer;
    
    //Size Variant 
    &.large {
        padding: $btn-padding-y-lg $btn-padding-x-lg;
    }

    //Colors Variant
    &.gradient {
        background: $gradient-redpink;
        color: $white;
    }
}