@import '../../styles/variables';

.haste-btn {
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    font-family: 'Segoe UI', sans-serif;
    font-size: $font-size-sm;
    padding: $btn-padding-y $btn-padding-x;
    //Size Variant 
    &.large {
        padding: $btn-padding-y-lg $btn-padding-x-lg;
    }

    //Colors Variant
    &.gradient {
        background: $gradient-redpink;
        color: $white;
    }
}