@import '../../styles/variables';

.haste-box {
  background: $white;
  box-shadow: $shadow-box-primary;
  padding: $box-padding-base;

  &.large {
    padding: $box-padding-y-lg $box-padding-x-lg;
  }

  p {
    margin-bottom: 20px;
  }
}
